[Unit]
Description=ConnectionSphere Master Thumbnails Daemon
After=network.target

[Service]
Type=simple
User=!!ssh_username
# Environment variable is now set in the wrapper script
# Environment=RUBYLIB=/home/!!ssh_username/code1/!!
ExecStart=/home/!!ssh_username/mass_master_thumbnails.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target