[Unit]
Description=My.SaaS Transactional Emails Daemon
After=network.target

[Service]
Type=simple
User=!!ssh_username
# Environment variable is now set in the wrapper script
# Environment=RUBYLIB=/home/!!ssh_username/code1/!!
ExecStart=/home/!!ssh_username/mysaas_notifier.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target